:root{
    font-family: 'Mogra', cursive;
    font-family: 'Mouse Memoirs', sans-serif;
    --primary-color:#0D3B66;
    --secondary-color:#01BAEF;
    --tertiary-color:#FDF2F8;
    --primary-bgcolor:#f7cfe5;
    --tertiary-darker:#D62083;
}

.emailLink{
    color:var(--secondary-color);
    display:inline-block;
    position:relative;
}

.emailLink:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color:var(--tertiary-darker);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.emailLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.infoBox{
    margin:0px 0px 0px 200px;
}

.infoBoxTitle{
    font-family: 'Mogra', cursive;
    font-size:50px;
    margin:30px 0px 20px 0px;
    text-align:center;
}

.infoBoxText{
    font-size:35px;
    margin:10px 40px 0px 0px;
}

.contactFormAlign{
    display:flex;
    margin:40px 0px 0px 100px;
    justify-content:flex-start;

}

.contactFormTitle{
    color:var(--primary-color);
    font-size:45px;
    text-align:center;
    margin:0px 0px 20px 0px;
}

.contactForm{
    background-color: rgba(1, 187, 239,.45);
    width:30vw;
    height:500px;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding:10px 10px 10px 10px;
}

.formField{
    display:flex;
    justify-content:flex-start;
    margin:10px 40px 20px 40px;
}

.formText{
    color:var(--primary-color);
    font-size:25px;
    width:100px;
}

.formText::after{
    content:" :"
}

.formInput{
    all:unset;    
    background-color:red;
    width:200px;
}

.enquiryInput{
    width:300px;
    height: 200px;
    background-color:red;
}