:root{
    font-family: 'Mogra', cursive;
    font-family: 'Mouse Memoirs', sans-serif;
    --primary-color:#0D3B66;
    --secondary-color:#01BAEF;
    --tertiary-color:#FDF2F8;
    --primary-bgcolor:#f7cfe5;
    --tertiary-darker:#D62083;
}

.emailLink{
    color:var(--secondary-color);
    display:inline-block;
    position:relative;

}

.emailLink:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color:var(--tertiary-darker);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.emailLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.infoBox{
    margin:0px 0px 0px 200px;
}

.infoBoxTitle{
    font-family: 'Mogra', cursive;
    font-size:50px;
    margin:30px 0px 20px 0px;
    text-align:center;
}

.infoBoxText{
    font-size:35px;
    margin:10px 40px 0px 0px;
}

.contactFormAlign{
    display:flex;
    margin:40px 0px 0px 100px;
    justify-content:flex-start;
}

.contactFormTitle{
    color:var(--primary-color);
    font-size:45px;
    text-align:center;
    margin:0px 0px 20px 0px;
}

.contactForm{
    background-color: rgba(1, 187, 239,.45);
    width:29vw;
    height:650px;
    color:var(--primary-color);
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    background: #8DE0F8;
    box-shadow:  8px 8px 27px #79c1d5,
             -8px -8px 27px #a1ffff;
}

.formField{
    display:flex;
    justify-content:flex-start;
    margin:20px 40px 20px 40px;
}

.formText{
    color:var(--primary-color);
    font-size:30px;
    width:120px;
}

.formText::after{
    content:" :"
}

.formInput{
    all:unset;    
    width:350px;
    box-shadow: 0px 0px 8px 1px var(--primary-color) inset;
    font-size:30px;
    border-radius: 6px;
    border: 3px dashed var(--primary-color);
}

.enquiryInput{
    all:unset;
    border-radius: 10px;
    color:var(--primary-color);
    resize:none;
    overflow-y: scroll;
    font-family: 'Mouse Memoirs', sans-serif;
    width:350px;
    height: 200px;
    font-size:30px;
    box-shadow: 0px 0px 15px 1px var(--primary-color) inset;
    border: 3px dashed var(--primary-color);
}

::-webkit-scrollbar {
    display: none;
}

.submitForm{
    padding:3px 7px 3px 7px;
    border-radius:10px;
    user-select:none;
    font-size:35px;
    margin:20px auto 0px auto;
    border: 3px dashed var(--primary-color);
    transition: border .1s ease-in;
    transition: padding .3s ease-in;
}

.submitForm:hover{
    padding:5px 10px 5px 10px;
    font-size:37px;
    border: 4px dashed var(--primary-color);

}