.homeColumnDisplay{
    display:flex;
    flex-direction:row;
}

.gettingPanelInfo{
    display:flex;
    flex-direction:column;    
    justify-content:flex-start;
    align-items: center;
    width:30vw;
    margin:20px 0px 0px 0px;
}



.gettingInfoGroup{
    margin:10px 0px 40px 0px;
    width:25vw;
}


.gettingTitleInfo{
    font-size:37px;
    margin:5px 0px 5px 0px;
    text-align: center;
}

.gettingInfoContent{
    font-size:30px;
    color:var(--secondary-color);
    word-wrap: break-word;
    text-align: center;
}

.sampleMap{
    margin:20px 0px 10px 40px;
}

.mainMap{
    width:70vw;
    height:700px;
}