.homeColumnDisplay{
    display:flex;
    flex-direction:row;
}

.gettingPanelInfo{
    display:flex;
    flex-direction:row;    
    justify-content:space-around;
    align-items: center;
}

.gettingInfoGroup{
    margin:10px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.gettingTitleInfo{
    font-size:35px;
    margin:5px 0px 5px 0px;
    text-align: center;
}

.gettingInfoContent{
    font-size:28px;
    color:var(--secondary-color);
    word-wrap: break-word;
    text-align: center;
}

iframe{
    width: 100%;
    height: 400px;
}