@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Mouse+Memoirs&display=swap');
:root{
    font-family: 'Mogra', cursive;
    font-family: 'Mouse Memoirs', sans-serif;
    --primary-color:#0D3B66;
    --secondary-color:#01BAEF;
    --tertiary-color:#FDF2F8;
}

.logo{
    position:relative;
    margin:-2px 0px 0px 15px;
}

.logoHeader{
    font-size:70px;
    color:var(--primary-color);
    letter-spacing: 2px;
}

.logoTagLine{
    position:relative;
    font-size:25px;
    left:110px;
    margin-top:-10px;
}

.logoTertiary{
    font-size:18px;
    font-family: 'Mogra', cursive;
    position:relative;
    left:220px;
}

.tagLine1{
    position:relative;
    display:flex;
    flex-direction:row;
    color:var(--primary-color);

}

.fa-check{
    font-size:40px;
}

.tagLine1text{
    font-size:30px;
    margin-left:10px;
}
.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}