@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Mouse+Memoirs&display=swap');

:root{
    font-family: 'Mogra', cursive;
    font-family: 'Mouse Memoirs', sans-serif;
    --primary-color:#0D3B66;
    --secondary-color:#01BAEF;
    --tertiary-color:#FDF2F8;
    --primary-bgcolor:#f7cfe5;
    --tertiary-darker:#D62083;
}

.logo{
    position:relative;
    margin:-2px 0px 0px 30px;
}

.logoHeader{
    font-size:80px;
    color:var(--primary-color);
    letter-spacing: 2px;
}

.logoTagLine{
    position:relative;
    font-size:35px;
    left:110px;
    margin-top:-10px;
}

.logoTertiary{
    font-size:22px;
    font-family: 'Mogra', cursive;
    position:relative;
    left:270px;
}

.tagLine1{
    position:relative;
    user-select:none;
    display:flex;
    flex-direction:row;
    color:var(--primary-color);
    margin-right:10px;
}

.fa-check{
    font-size:40px;
}

.tagLine1text{
    font-size:30px;
    margin-left:10px;
    letter-spacing: 1px;
}

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.notice{
    display:flex;
    align-items:center;
    flex-direction:column;
    margin:10px auto 0px auto;
    background-color:var(--primary-bgcolor);
    border-radius:7px;
    padding:5px 10px 10px 10px;
    box-shadow:  20px 20px 60px #d2b0c3,
                 -20px -20px 60px #ffeeff;
}

.noticeTitle{
    font-size:30px;
    letter-spacing: 2px;
    padding-bottom:5px;
}

.noticeLine{
    padding:2px 0px 2px 0px;
    position:relative;
    font-size:20px;
    color:var(--secondary-color);
}

.final{
    display:flex;
    padding:10px 10px 10px 10px;
}

.wrapperNavMenu{
    width:65vw;
    margin:0px 0px 0px 15px;
}

.navMenu{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:30px;
    color:var(--primary-color);
}
.navMenu>*{
    margin:0px auto 0px auto;
}

.navMenuHighlight{
    background-color: var(--primary-color);
    color:var(--primary-bgcolor);
    padding:3px 10px 3px 10px;
    border-radius:10px;
}

a{
    all: unset;
}
